<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @video.desc %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @video.teacher %>
</p>

<p>
  <strong>Course:</strong>
  <%= @video.course %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
